@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro:300");
body {
  margin: 0;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
}

#container {
  width: 90%;
  margin: 0 auto;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

header {
  height: 50vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

header h1 {
  z-index: 1;
  font-family: 'Kaushan Script', cursive;
  color: #000;
  font-size: 2.5em;
}

header div {
  background-image: url("../../img/header.jpg");
  background-size: cover;
  height: 50vh;
  width: 100%;
  position: absolute;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.contest_participates_container {
  margin-top: 2em;
  text-align: center;
  display: -webkit-box;
  display: flex;
}

.contest_participates_container > div {
  -webkit-box-flex: 1;
  flex: 1;
  padding: 1em;
}

.contest_participates_container > div h1 {
  text-transform: uppercase;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 0.2em 0;
  font-size: 1.5em;
}

.contest_participates_container > div:last-child h1 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.contest_participates_container .contest_container {
  border: 2px solid #6db285;
}

.contest_participates_container .participates_container {
  color: #000;
  background-color: #6db285;
}

.contest_participates_container .participates_container a.btn-participate img {
  width: 6em;
}

@media screen and (max-width: 650px) {
  .contest_participates_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}

.vote_for_picture_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 1em 0;
}

.filter div {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 15%;
  margin: 0.2em 0.5em;
  padding: 0.5em;
  border: 3px solid #6db285;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .filter div {
    min-width: 130px;
  }
}

.images_container {
  margin: 2em 0;
}

.images_container .image_container {
  width: 22%;
  margin: 1%;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 900px) {
  .images_container .image_container {
    width: 31%;
  }
}

@media screen and (max-width: 730px) {
  .images_container .image_container {
    width: 48%;
  }
}

.images_container .image_container > a > img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.images_container .image_container > div {
  height: 1.5em;
  padding: 0.5em;
  display: -webkit-box;
  display: flex;
  border: 1px solid #c0c0c0;
  border-top: none;
}

.images_container .image_container > div > img {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0 0.2em;
}

.images_container .image_container > div > p {
  -webkit-box-flex: 1;
  flex: 1;
  vertical-align: top;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

footer {
  background-color: #6db285;
  padding: 1em;
}

footer .footer_container {
  width: 90%;
  margin: 0 auto;
}

footer .footer_container a {
  text-decoration: none;
}

footer .footer_container a p {
  color: #000;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  margin: 0.5em 2em;
}

footer .footer_container img {
  float: right;
  width: 2.5em;
}

.participate_title {
  background-color: #6db285;
  color: #000;
  padding: 1.5em 0;
  margin-bottom: 1em;
}

.participate_title h1 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  margin: 0;
}

.participate_content .participate_block_left, .participate_content .participate_block_right {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 1%;
}

.participate_content .participate_block_left {
  overflow: hidden;
}

.participate_content .participate_block_left p {
  text-align: center;
}

.participate_content .participate_block_left ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.participate_content .participate_block_left ul li {
  text-align: center;
  border: 2px solid #6db285;
  border-radius: 5px;
  margin: 0.5em 0.5%;
  width: 46%;
  height: 2em;
  line-height: 2em;
  display: inline-block;
  vertical-align: top;
}

@media screen and (max-width: 700px) {
  .participate_content .participate_block_left ul li {
    width: 100%;
  }
}

.participate_content .participate_block_right {
  width: 65%;
}

.participate_content .participate_block_right .album_item {
  display: inline-block;
  vertical-align: top;
  width: 13vw;
  height: 13vw;
  margin: 1%;
  background-image: url("../../img/header.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1030px) {
  .participate_content .participate_block_right .album_item {
    width: 17.5vw;
    height: 17.5vw;
  }
}

@media screen and (max-width: 700px) {
  .participate_content .participate_block_right .album_item {
    width: 27vw;
    height: 27vw;
  }
}

@media screen and (max-width: 600px) {
  .participate_content .participate_block_right .album_item {
    width: 60vw;
    height: 60vw;
  }
}

.participate_content .participate_block_right .album_item:first-child {
  background-image: url("../../img/1.jpg");
}

.participate_content .participate_block_right .album_item:hover {
  cursor: pointer;
}

.participate_valid button {
  float: right;
  background-color: #6db285;
  border: 2px solid #6db285;
  border-radius: 10px;
  width: 7em;
  height: 2em;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.participate_valid button[disabled]:hover, .participate_valid button[disabled] {
  opacity: 0.7;
  cursor: default;
}

.participate_valid button:hover {
  cursor: pointer;
  opacity: 1;
}

footer {
  margin-top: 2.5em;
}

/*# sourceMappingURL=app.css.map */
